body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: #abc4ff; */background: rgb(81,255,185);
background: -moz-radial-gradient(circle, rgba(81,255,185,0.7063200280112045) 0%, rgba(169,170,240,1) 95%);
background: -webkit-radial-gradient(circle, rgba(81,255,185,0.7063200280112045) 0%, rgba(169,170,240,1) 95%);
background: radial-gradient(circle, rgba(81,255,185,0.7063200280112045) 0%, rgba(169,170,240,1) 95%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#51ffb9",endColorstr="#a9aaf0",GradientType=1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}