.App {
  text-align: center;
  /* margin-top: 50px; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App h1{
  margin: 5px auto;
  
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 50px;
}
.navbar h3{
  transition: all 4s linear 0s;
  cursor: pointer;
  display: inline-block;
}
.navbar h3:hover::before{
  content: "💗";
  transition: all 3s ease-in-out;
}
.navbar h3:hover::after{
  content: "💗";
  transition: all 3s ease-in-out;

}

.nav-links{
  display: flex;
}
.link{
  margin: 0 25px;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.link:hover{
  color: green;
}
.btn{
  text-decoration: none;
  background: lightblue;
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 18px;
  transition: all 0.3s linear;
}
.btn:hover{
  background: lightgreen;
  color: #222;
}