.meeting-card{
    margin:10px auto;
    display: flexbox;
    justify-content: space-between;
    height: auto;
}
.meetingcard{
    max-width: 300px;
    background: rgb(242, 229, 255);
    border-radius: 12px;
}
.flex{
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 0;
    align-items: center;
}
.flex h5{
    text-align: left;
    margin: 0;
}
.bi{
    cursor: pointer;
}
.bi:hover{
    color: rgb(3, 107, 6);
    /* background: transparent; */
}
.meeting-img{
    width: 100%;
    border-radius: 12px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
h3{
    text-align: center;
}
.meetingcard p{
    margin-bottom: 0;
}
/* .meetingcards p:nth-child(1){
    text-align: center;
} */
.meetingcard .ptag{
    display: inline-flexbox;
    margin: 0;
    /* text-align: center; */
    padding: 10px;
}

.loader {
    border: 16px solid hsl(0, 0%, 95%);
    border-radius: 50%;
    border-top: 3px solid blue;
    border-right: 3px solid green;
    border-bottom: 3px solid red;
    border-left: 3px solid pink;
    width: 20px;
    height: 20px;
    margin: 20px auto;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}
.d-none {
    display: none;
}
